<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>TODO App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" href="./css/todo_stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="./js/todo_script.js"></script>
</head>

<body>
    <div class="center">

        <div class="container">

            <div class="row main">
                Your Todo List<i class="fa fa-plus plusicon"></i>
                <input type="text" class="form-control" placeholder="Add New ToDo" id="text">
            </div>
        </div>

    </div>

</body >
</html >

